# Context
Your task is to provide examples to a company of how they can report on required information in 
regards to their climate change action plan.
To do that, you will find examples of required report components in the climate change report created 
by a different company. so they can better understand the report component description.


## Report Components and Description:
{{ report_components }}

## Climate Change Report:
{{ report }}

### Task:
For each of the report components, find the corresponding information from the climate change report.
This information can be full paragraphs or shorter sentences, depending on how much
context is required to understand the example.
If the climate change report does not contain the information described in the report components,
include no example. Do not create any information not explicitly present in the report, and 
only transcribe examples directly from the report as they are written there.

### Expected Output Format:
{
    "Component 1": ["Component 1 first example", "Component 1 second example"],
    "Component 2": [],
    ...   
}